html,
* {
    box-sizing: boder-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.square {
    height: 40rem;
    width: 40rem;
    text-align: center;

    &:hover {
        &:before {
            display: block;
            animation: .8s ease-out 0s 1 resize;
            
        }
    }

    &:before {
        height: 6rem;
        width: 6rem;
        content: '';
        display:none;
        position: absolute;
        border: solid .1rem black;
        transform: rotate(50deg);
        margin:{
        	left:10rem;
        	top:6rem;
        }
    }

    img {
        height: auto;
        max-width: 2rem;
        margin:4rem;
    }
}

@keyframes resize {
    0% {transform: scale(0) rotate(50deg);}

    100% {
        transform: scale(1) rotate(50deg);
    }
}
@keyframes icon{
	0%{}
	50%{}
	100%{

	}
}